/* block top search */
.block-search-top { float: right; margin: 40px 0;}

.block-search-top p { float: right; width: 250px; height: 36px; padding: 1px; border: 1px solid #ccc;}
.block-search-top .search_query {
	float: left;
	margin: 0; 
	border: none;
	width: 200px;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 5px;
	box-shadow: none;
}

form#searchbox{ }
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#search_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}

