.ie8 .list_view .ajax_block_product .actions { padding-left: 15px;}
.ie8 .pos-logo .flex-direction-nav .flex-next { right: 0;}
.ie8 .pos-logo .flex-direction-nav .flex-prev { left: 0;}
.ie8 .banner-static-center .box-static { width: 60%;}